# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\FlameXander\Desktop\Курсы Java\Sources\Spring 1\Lesson 3 (Hibernate)\hibernate-h2-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
